// 颜色定义规范
$color-theme-bgc: #de4033; // 主题背景色 - 浅
$color-theme-bgc-d: #c93d2d; //  主题背景色 - 深
$color-bgc: #fff; // 背景色
$color-bgc-1: #f5f5f5;
$color-theme: #ffcd32; // 主题色
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-text: #fff;
$color-text-blue: #78c4ec;
$color-text-ll: #f2d6d3;
$color-text-l: #da8279;
$color-text-lld: #ccc;
$color-text-ld: #8f8f8f;
$color-text-d: #555556;
$color-text-dd: #333334;
$color-text-ddd: black;

// 字体定义规范
$font-size-xxs: 8px;
$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 22px;

// 引进外部字体
@font-face {
  font-family: huangyou;
  //noinspection CssInvalidFunction
  src: url-loader('../fonts/huangyou.ttf');
}